node_modules

# Terraform and AWS build artifacts
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Lambda deployment packages
*.zip

# Node build artifacts
node_modules/
dist/

# Environment
.env
